$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

$color-blue: #0000cc;
$color-green: #00cc00;
$color-red: #cc0000;
$color-yellow: #cccc00;

$color-grey: #cccccc;
$color-dark-red: #660000;
$color-dark-blue: #000066;
$color-dark-green: #006600;

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/* Imported from cordova template */

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  background-color: black;

  font-family: 'Roboto', 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

@font-face {
  font-family: 'PsiphoonBB';
  src: url('./fonts/PsiphoonBB.eot?#iefix') format('embedded-opentype'),  url('./fonts/PsiphoonBB.woff') format('woff'), url('./fonts/PsiphoonBB.ttf')  format('truetype'), url('./fonts/PsiphoonBB.svg#PsiphoonBB') format('svg');
  font-weight: normal;
  font-style: normal;
}

.splash {
  padding-top: 30px;
  text-align: center;

  .container-img {
    max-width: 890px;
  }

  .btn {
    font-size: 21px;
    padding: 14px 24px;
    margin-top: 20px;

    .go-btn {
      font-size: 30px;
    }
  }

  h1 {
    font-family: 'PsiphoonBB';
    font-size: 10vw;
    color: $color-grey;
  }

  .image-splash {
    padding: 20px 40px;
    width: 100%;
    height: auto;
  }
}

.btn {
  font-family: 'PsiphoonBB';
}

.btn-success {
  background-color: $color-green;
}

.host-list {
  list-style-type: none;
}

.player-list {
  list-style-type: none;
}

.pilot-name {
  font-weight: bold;
  color: $color-dark-blue;
}

.mech-name {
  font-weight: bold;
  color: $color-dark-green;
}

.red {
  color: $color-red;
}
.yellow {
  color: $color-yellow;
}
.blue {
  color: $color-blue;
}
.green {
  color: $color-green;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    // max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

