<div class="screen-main">
	<h1 class="dyno-force"><span class="red">D</span><span class="yellow">Y</span><span class="blue">N</span><span class="green">O</span>-FORCE!</h1>

	<div class="main-buttons" ng-if="gameData.state === gameState.IDLE">
		<div>
			<button class="btn btn-lg btn-primary" ng-click="findGames()">Find a Game</button>
		</div>
		<div>
			<button class="btn btn-lg btn-success" ng-click="hostGame()" >Start New Game</button>
		</div>
	</div>
	<div class="main-hosting" ng-if="gameData.state === gameState.HOSTING">
		<h2>Team <span class="mech-name">{{gameData.hostName}}</span>!</h2>
		<div ng-if="gameData.foundPlayers.length <= 5">
			Waiting for players...
		</div>
		<table class="player-list table">
			<tr ng-repeat="(key, pilot) in gameData.foundPlayers">
				<td>[Pilot] <span class="pilot-name">{{pilot.name}}</span>
<br>ID: {{pilot.addr}}
				</td>
			</trf>
		</table>
		<div class="main-host-buttons">
			<hr>
			<div ng-if="gameData.pilotCount > 1">
				<button class="btn btn-lg btn-success" ng-click="startGame()">FIGHT!</button>
			</div>
			<div>
				<button class="btn btn-lg btn-danger" ng-click="stopHost()">Cancel</button>
			</div>
		</div>
	</div>
	<div class="main-finding" ng-if="gameData.state === gameState.FINDING">
		<h2>Pilot <span class="pilot-name">{{gameData.pilotName}}</span>
			<div class="looking" ng-if="gameData.foundHosts.length <= 0">
				Looking for a game...
			</div>
			<div>
				<table class="host-list table">
					<tr ng-repeat="(key, host) in gameData.foundHosts">
						<td class="host-info">[Team] <span class="team-name">{{host.name}}</span></td>
						<td>
							<button class="btn btn-lg btn-info pull-right" ng-click="joinHost(host.addr)" ng-if="gameData.state === gameState.FINDING">
								JOIN
							</button>
							<button class="btn btn-lg btn-warning pull-right" ng-click="unjoinHost()" ng-if="gameData.state === gameState.JOINING">
								CANCEL
							</button>
						</td>
					</tr>
				</table>
			</div>
			<div class="main-find-buttons">
				<hr>
				<button class="btn btn-lg btn-danger" ng-click="cancelFind()">Return</button>
			</div>
		</div>
	</div>
	<div class="main-joining" ng-if="gameData.state === gameState.JOINING">

		<table class="player-list table">
			<tr ng-repeat="(key, pilot) in gameData.foundPlayers">
				<td>[Pilot] <span class="pilot-name">{{pilot.name}}</span></td>
			</trf>
		</table>

		<div class="main-find-buttons">
			<hr>
			<button class="btn btn-lg btn-danger" ng-click="cancelFind()">Return</button>
		</div>
	</div>
</div>